<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>


<!-- Static navbar -->
<header th:fragment="a-head">
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <p class="navbar-brand" >管理员</p>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">课题管理 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/a_TaskReview"th:href="@{/admin/a_TaskReview}">课题审核</a></li>
                            <li><a href="/admin/a_TaskShow"th:href="@{/admin/a_TaskShow}">课题管理</a></li>
                        </ul>
                    </li>
                </ul>


                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">选题管理 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">设定选题轮数</a></li>
                            <li><a href="/admin/a_TaskAppoint" th:href="@{/admin/a_TaskAppoint}">指定课题</a></li>
                        </ul>
                    </li>
                </ul>


                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">论文评审 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/areview" th:href="@{/admin/areview}">安排开题交叉评阅</a></li>
                            <!--<li><a href="/admin/ktgroup" th:href="@{/admin/ktgroup}">开题论证分组</a></li>-->
                            <!--<li><a href="/admin/lunwengroup" th:href="@{/admin/lunwengroup}">论文答辩分组</a></li>-->
                            <li><a href="/admin/crossproposal" th:href="@{/admin/crossproposal}">安排论文交叉评阅</a></li>
                            <!--<li><a href="#">确认推优名单</a></li>-->
                            <li><a href="/admin/allgrades" th:href="@{/admin/allgrades}">学生成绩</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户管理 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/newstudent" th:href="@{/admin/newstudent}">添加学生</a></li>
                            <li><a href="/admin/newteacher" th:href="@{/admin/newteacher}">添加老师</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <!--             <li><a href="../navbar/">用户信息</a></li>
                     -->
                    <li> <form action="/logout" method="post" name="form1" th:action="@{/logout}">
                        <!--<input type="submit" value="logout">-->
                    </form>
                        <a href="javascript:document.form1.submit();">退出登录</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <br><br>
</header>
</body>
</html>