<!DOCTYPE html>
<html>
	
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>评阅</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/admin.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/flat-ui.css">
	</head>
	
	<body data-type="index" style="">
     <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <a href="index.php" class="tpl-logo">
                <img src="assets/img/logo.png" alt="">
            </a>
        </div>
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">
		
        </div>
        <!--
        	<?php
        	include("link.php");
    		$teacher= getLoginInfo();
        	foreach($teacher as $k=>$val){
   			$teacher_name= "{$val['teacher_name']}"; 
        	
					}
        ?>
        -->
    	
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="am-icon-calendar"></span> 我的课程
                    </a>
                    <ul class="am-dropdown-content tpl-dropdown-content">
                        
                        <li>
                            <a href="javascript:;" class="tpl-dropdown-content-progress">
                                <span class="task">
                        <span class="desc"><h3>计算机网络 </h3></span>
                                <span class="percent"></span>
                                </span>
                                <span class="progress">
                    </span>
                            </a>
                        </li>
                       <li>
                            <a href="javascript:;" class="tpl-dropdown-content-progress">
                                <span class="task">
                        <span class="desc"><h3>数据库原理 </h3></span>
                                <span class="percent"></span>
                                </span>
                                <span class="progress">
                    </span>
                            </a>
                        </li>
                       

                    </ul>
                </li>
               
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="am-icon-bell-o"></span> 我的提醒 <span class="am-badge tpl-badge-success am-round">5</span></span>
                    </a>
                    <ul class="am-dropdown-content tpl-dropdown-content">
                        <li class="tpl-dropdown-content-external">
                            <h3>你有 <span class="tpl-color-success">5</span> 条提醒</h3><a href="###">全部</a></li>
                        <li class="tpl-dropdown-list-bdbc"><a href="#" class="tpl-dropdown-list-fl"><span class="am-icon-btn am-icon-plus tpl-dropdown-ico-btn-size tpl-badge-success"></span> 【新课程】 您可以切换自己的课程了</a>
                            <span class="tpl-dropdown-list-fr">3小时前</span>
                        </li>
                        <li class="tpl-dropdown-list-bdbc"><a href="#" class="tpl-dropdown-list-fl"><span class="am-icon-btn am-icon-check tpl-dropdown-ico-btn-size tpl-badge-danger"></span> 成功添加一名学生，查看详情</a>
                            <span class="tpl-dropdown-list-fr">15分钟前</span>
                        </li>
                        <li class="tpl-dropdown-list-bdbc"><a href="#" class="tpl-dropdown-list-fl"><span class="am-icon-btn am-icon-bell-o tpl-dropdown-ico-btn-size tpl-badge-warning"></span> 新的学期，新的规划</a>
                            <span class="tpl-dropdown-list-fr">2天前</span>
                        </li>
                    </ul>
                </li>
    
   				 <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li> 
    
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="tpl-header-list-user-nick"><?php echo $teacher_name; ?></span><span class="tpl-header-list-user-ico"> <img src="upload/f98c3ff316835fdd7f082a27eeeef369.jpeg"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href="#"><span class="am-icon-bell-o"></span> 资料</a></li>
                        <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                        <li><a href="login.php"><span class="am-icon-power-off"></span> 退出</a></li>
                    </ul>
                </li>
    
    			
    
                 <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a style="color: #999"  href="logout.php">
                        <span class="am-icon-sign-out">注销 </span>
                    </a>
                </li>
                <script>
                                        function logout() {
                                            //alert(stu_id);
            								if (confirm("确定要删除么？")) {
                									window.location = 'logout.php';
              												}
         											}
                </script>
            </ul>
            </li>
            </ul>
        </div>
    </header>
    
    <div class="tpl-page-container tpl-page-header-fixed">
    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">
            <font size="4">毕设管理系统</font>
        </div>
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a href="index.php" class="nav-link active" th:href="@{/admin}">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                        <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                    </a>
                </li>
                <!--<li class="tpl-left-nav-item">-->
                <!--<a href="course.php" class="nav-link tpl-left-nav-link-list">-->
                <!--<i class="am-icon-book"></i>-->
                <!--<span>论文审评</span>-->
                <!--</a>-->
                <!--</li>-->
                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-align-justify"></i>
                        <span>课题管理</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="display: block;">
                        <li>
                            <a href="kadai.html" th:href="@{/admin/a_TaskReview}">
                                <i class="am-icon-angle-right"></i>
                                <span>课题审核</span>
                            </a>

                            <a href="newKadai.html" th:href="@{/admin/a_TaskShow}">
                                <i class="am-icon-angle-right"></i>
                                <span>课题管理</span>
                            </a>


                        </li>
                    </ul>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-align-justify"></i>
                        <span>选题管理</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="display: block;">
                        <li>
                            <a href="#" >
                                <i class="am-icon-angle-right"></i>
                                <span>设定选题轮数</span>
                            </a>

                            <a href="#" >
                                <i class="am-icon-angle-right"></i>
                                <span>指定课题</span>
                            </a>

                        </li>
                    </ul>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-align-justify"></i>
                        <span>论文评审</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="display: block;">
                        <li>
                            <a href="" th:href="@{/admin/areview}">
                                <i class="am-icon-angle-right"></i>
                                <span>安排开题交叉评阅</span>
                            </a>

                            <a href="" th:href="@{/admin/ktgroup}">
                                <i class="am-icon-angle-right"></i>
                                <span>开题论证分组</span>
                            </a>

                            <a href="" th:href="@{/admin/lunwengroup}">
                                <i class="am-icon-angle-right"></i>
                                <span>论文答辩分组</span>
                            </a>

                            <a href="" th:href="@{/admin/crossproposal}">
                                <i class="am-icon-angle-right"></i>
                                <span>安排论文交叉评阅</span>
                            </a>

                            <a href="#" >
                                <i class="am-icon-angle-right"></i>
                                <span>确认推优名单</span>
                            </a>

                            <a href="#" >
                                <i class="am-icon-angle-right"></i>
                                <span>学生成绩</span>
                            </a>

                        </li>
                    </ul>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-align-justify"></i>
                        <span>用户管理</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="display: block;">
                        <li>
                            <a href="#" th:href="@{/admin/newstudent}">
                                <i class="am-icon-angle-right"></i>
                                <span>添加学生</span>
                            </a>

                            <a href="#" th:href="@{/admin/newteacher}">
                                <i class="am-icon-angle-right"></i>
                                <span>添加老师</span>
                            </a>

                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
		
		<!--编辑模态框-->
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="margin-top: 100px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×
                                </button>
                                <h9 class="modal-title" id="myModalLabel"> 修改</h9>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/teacher/edittask}" action="/teacher/edittask"  method="post">
                                    <!--<input type="hidden" id="taskid" name="taskid" value="111"/>-->
                                    <div class="form-group form-inline" style="margin-bottom: auto;">
                                        <label for="edit_taskid">课题编号</label>
                                        <input type="text" id ="edit_taskid" name ="edit_taskid"value="" readonly="readonly" >
                                    </div>

                                    <div class="form-group form-inline" style="margin-bottom: auto;">
                                        <label for="edit_taskname">课题名称</label>
                                        <input type="text" id ="edit_taskname" name ="edit_taskname"  value="" >
                                    </div>

                                    <div class="form-group form-inline" style="margin-bottom: auto;">
                                        <label style="display: none" for="edit_tutorname">课题导师</label>
                                        <input style="display: none" type="text" id ="edit_tutorname" name="edit_tutorname" value="" readonly="readonly" >
                                    </div>

                                    <div class="form-group form-inline" style="margin-bottom: auto;">
                                        <label for="edit_tasktype">课题类型</label>
                                        <input type="text" id ="edit_tasktype" name="edit_tasktype" value="" >
                                    </div>

                                    <div class="form-group form-inline" style="margin-bottom: auto;">
                                        <label for="edit_taskrate">课题级别</label>
                                        <input type="text" id ="edit_taskrate" name="edit_taskrate" value="" >
                                    </div>

                                    <div class="form-group form-inline" style="margin-bottom: auto;">
                                        <label for="edit_taskrate">可选人数</label>
                                        <input type="text" id ="edit_taskmaxchoose" name="edit_taskmaxchoose" value="">
                                    </div>

                                    <div class="form-group form-inline">
                                        <label for="edit_taskdescrib">课题描述</label>
                                        <input type="text" id ="edit_taskdescrib" name ="edit_taskdescrib" value="">
                                    </div>

                                    <button type="button" class="am-btn am-btn-primary" data-dismiss="modal">关闭</button>
                                    <button type="submit" class="am-btn am-btn-primary" >确认</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
		<!--新增模态框-->
                <div class="modal fade" id="neweditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="margin-top: 100px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×
                                </button>
                                <h9 class="modal-title" id="myModalLabel"> 修改</h9>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/teacher/edittask}" action="/teacher/edittask"  method="post">
                                    <!--<input type="hidden" id="taskid" name="taskid" value="111"/>-->
                                    <div class="form-group form-inline" style="margin-bottom: auto;">
                                        <label for="edit_taskid">课题编号</label>
                                        <input type="text" id ="edit_taskid" name ="edit_taskid"value="" readonly="readonly" >
                                    </div>

                                    <div class="form-group form-inline" style="margin-bottom: auto;">
                                        <label for="edit_taskname">课题名称</label>
                                        <input type="text" id ="edit_taskname" name ="edit_taskname"  value="" >
                                    </div>

                                    <div class="form-group form-inline" style="margin-bottom: auto;">
                                        <label style="display: none" for="edit_tutorname">课题导师</label>
                                        <input style="display: none" type="text" id ="edit_tutorname" name="edit_tutorname" value="" readonly="readonly" >
                                    </div>

                                    <div class="form-group form-inline" style="margin-bottom: auto;">
                                        <label for="edit_tasktype">课题类型</label>
                                        <input type="text" id ="edit_tasktype" name="edit_tasktype" value="" >
                                    </div>

                                    <div class="form-group form-inline" style="margin-bottom: auto;">
                                        <label for="edit_taskrate">课题级别</label>
                                        <input type="text" id ="edit_taskrate" name="edit_taskrate" value="" >
                                    </div>

                                    <div class="form-group form-inline" style="margin-bottom: auto;">
                                        <label for="edit_taskrate">可选人数</label>
                                        <input type="text" id ="edit_taskmaxchoose" name="edit_taskmaxchoose" value="">
                                    </div>

                                    <div class="form-group form-inline">
                                        <label for="edit_taskdescrib">课题描述</label>
                                        <input type="text" id ="edit_taskdescrib" name ="edit_taskdescrib" value="">
                                    </div>

                                    <button type="button" class="am-btn am-btn-primary" data-dismiss="modal">关闭</button>
                                    <button type="submit" class="am-btn am-btn-primary" >确认</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
                <!--删除模态框-->
                <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="margin-top: 100px;">
                        <div class="modal-content" style="text-align:center;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×
                                </button>
                                <h9 class="modal-title" id="myModalLabel">删除</h9>
                            </div>
                            <div class="modal-body">
                                <p style="font-size: smaller;">确定删除该报告吗？</p>
                                <form th:action="@{/teacher/t_TaskDelete}" action="/teacher/t_TaskDelete"  method="post">
                                    <input type="hidden" id="del_taskid" name="del_taskid" value="del_taskid"/>
                                    <button type="button" class="am-btn am-btn-primary" data-dismiss="modal">取消</button>
                                    <button type="submit" class="am-btn am-btn-primary" >确认</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
		<div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                	
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">论文评审</a></li>
                <li class="am-active">文献综述</li>
            </ol>
            <div class="tpl-portlet-components">
                
                <div class="tpl-block">
                	<div class="am-btn-toolbar">
                                
                            </div>
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-6">
                            <div class="am-form-group">
                                <select data-am-selected="{btnSize: 'sm'}">
              <option value="option1">全部</option>
              <option value="option2">已通过</option>
              <option value="option3">未审核</option>
              
            </select>
                            </div>
                            <div class="am-btn-group am-btn-group-xs">
                                   <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
                                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 批量删除</button>
                                </div> 
                                </div>
                        </div>
                        
                        
                        
                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="input-icon right">
                                <i class="am-icon-search"></i>
                                <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                        </div>
                        
                     
                                
                    </div>
                    <div class="am-g">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th>
                                            <th class="table-id">ID</th>
                                            <th class="table-title">课题名称</th>
                                            <th class="table-author am-hide-sm-only">导师</th>
                                            <th class="table-type">状态</th>
                                            <th class="table-author am-hide-sm-only">学生姓名</th>
                                            <!--<th class="table-date am-hide-sm-only">修改日期</th>-->
                                            <th class="table-set">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>1</td>
                                            <td><a href="#">企业管理信息系统</a></td>
                                            <td>陈歌</td>
                                            <td>已通过</td>
                                            <td class="am-hide-sm-only">李四</td>
                                            
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary" id="edit" data-toggle='modal' data-target='#editModal' onclick="edit(this)";><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                        <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 下载</button>
                                                        <button id="delete" data-toggle='modal' data-target='#delModal' class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" onclick= "del(this)";><span class="am-icon-trash-o"></span> 删除</button> 
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>3</td>
                                            <td><a href="#">企业管理信息系统</a></td>
                                            <td>陈歌</td>
                                            <td>未审核</td>
                                            <td class="am-hide-sm-only">王樱</td>
                                            
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                        <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 下载</button>
                                                        <button id="delete" data-toggle='modal' data-target='#delModal' class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" onclick= "del(this)";><span class="am-icon-trash-o"></span> 删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>4</td>
                                            <td><a href="#">毕业设计管理系统</a></td>
                                            <td>陈歌</td>
                                            <td>已通过</td>
                                            <td class="am-hide-sm-only">张三</td>
                                            
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                        <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 下载</button>
                                                        <button id="delete" data-toggle='modal' data-target='#delModal' class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" onclick= "del(this)";><span class="am-icon-trash-o"></span> 删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>8</td>
                                            <td><a href="#">机关办公自动化</a></td>
                                            <td>陈歌</td>
                                            <td>已通过</td>
                                            <td class="am-hide-sm-only">李莉</td>
                                            
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                        <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 下载</button>
                                                        <button id="delete" data-toggle='modal' data-target='#delModal' class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" onclick= "del(this)";><span class="am-icon-trash-o"></span> 删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>10</td>
                                            <td><a href="#">交通管理系统</a></td>
                                            <td>陈歌</td>
                                            <td>未审核</td>
                                            <td class="am-hide-sm-only">徐圆圆</td>
                                            
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                        <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 下载</button>
                                                        <button id="delete" data-toggle='modal' data-target='#delModal' class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" onclick= "del(this)";><span class="am-icon-trash-o"></span> 删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        
                                        
                                    </tbody>
                                </table>
                                <div class="am-cf">

                                    <div class="am-fr">
                                        <ul class="am-pagination tpl-pagination">
                                            <li class="am-disabled"><a href="#">«</a></li>
                                            <li class="am-active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <hr>

                            </form>
                        </div>

                    </div>
                </div>
                <div class="tpl-alert"></div>
            </div>





	 <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/amazeui.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/flat-ui.min.js"></script>
    <script src="assets/js/flat-ui.js"></script>
    <script src="assets/js/jquery-3.1.1.min.js"></script>




        </div>
	</body>
</html>
