<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>文献综述评阅</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" th:href="@{/assets/i/favicon.png}" href="../static/assets/i/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" href="../static/assets/i/app-icon72x72@2x.png" th:href="@{/assets/i/app-icon72x72@2x.png}"/>
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="../static/assets/css/amazeui.min.css" th:href="@{/assets/css/amazeui.min.css}"/>
    <link rel="stylesheet" href="../static/assets/css/admin.css" th:href="@{/assets/css/admin.css}"/>
    <link rel="stylesheet" href="../static/assets/css/app.css" th:href="@{/assets/css/app.css}"/>
    <script src="../static/assets/js/echarts.min.js" th:src="@{/assets/js/echarts.min.js}"></script>

</head>

<body data-type="index" style="">

<div th:replace="thead-top :: thead-top"></div>

<div class="tpl-page-container tpl-page-header-fixed">
    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">
            <font size="4">毕设管理系统</font>
        </div>
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a href="index.php" class="nav-link active" th:href="@{/teacher}">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                        <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                    </a>
                </li>
                <!--<li class="tpl-left-nav-item">-->
                <!--<a href="course.php" class="nav-link tpl-left-nav-link-list">-->
                <!--<i class="am-icon-book"></i>-->
                <!--<span>论文审评</span>-->
                <!--</a>-->
                <!--</li>-->
                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-align-justify"></i>
                        <span>论文审评</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="display: block;">
                        <li>
                            <a href="kadai.html" th:href="@{/teacher/review}">
                                <i class="am-icon-angle-right"></i>
                                <span>文献综述评阅</span>
                            </a>

                            <a href="newKadai.html" th:href="@{/teacher/ktreview}">
                                <i class="am-icon-angle-right"></i>
                                <span>开题报告评阅</span>
                            </a>

                            <a href="newKadai.html" th:href="@{/teacher/lunwenreview}">
                                <i class="am-icon-angle-right"></i>
                                <span>毕业论文评阅</span>
                            </a>

                            <a href="newKadai.html" th:href="@{/teacher/tcross}">
                                <i class="am-icon-angle-right"></i>
                                <span>交叉评阅</span>
                            </a>

                            <a href="newKadai.html" th:href="@{/teacher/allgrades}">
                                <i class="am-icon-angle-right"></i>
                                <span>学生成绩</span>
                            </a>

                        </li>
                    </ul>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-align-justify"></i>
                        <span>课题管理</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="display: block;">
                        <li>
                            <a href="kadai.html" th:href="@{/teacher/t_TaskShow}">
                                <i class="am-icon-angle-right"></i>
                                <span>我的课题</span>
                            </a>

                            <a href="newKadai.html" th:href="@{/teacher/t_AddTask}">
                                <i class="am-icon-angle-right"></i>
                                <span>提交课题</span>
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>
        </div>
    </div>

    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            学生成绩查看
        </div>
        <ol class="am-breadcrumb">
            <li><a href="#" th:href="@{/teacher}"class="am-icon-home">首页</a></li>
            <li><a href="#" th:href="@{/teacher/allgrades}">论文评审</a></li>
            <li class="am-active">学生成绩查看</li>
        </ol>
        <div class="tpl-portlet-components">

            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="am-form-group">
                            <form th:action="@{/teacher/selgreat}" action="/teacher/selgreat" method="post">
                                <label for="stateSelection">推优状态：</label>
                                <select id="stateSelection" name="stateSelection" data-am-selected="{btnSize: 'sm'}">
                                    <option value="allstate" th:selected="${stateSelectionValue1}">--全部--</option>
                                    <option value="已推优" th:selected="${stateSelectionValue2}">推优</option>
                                    <option value="未推优" th:selected="${stateSelectionValue3}">未推优</option>
                                </select>
                                <button type="submit" class="am-btn am-btn-default am-btn-xs am-text-secondary" >查询</button>
                            </form>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="input-icon right">
                            <i class="am-icon-search"></i>
                            <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                    </div>


                </div>
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <form class="am-form">
                            <table class="am-table am-table-striped am-table-hover table-main">
                                <thead>
                                <tr>
                                    <th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th>
                                    <th th:if="false">ID</th>
                                    <th>课题名称</th>
                                    <th>学生姓名</th>
                                    <th>分数</th>
                                    <th>是否推优</th>
                                    <th>操作</th>
                                    <!--<th>下载</th>-->
                                    <!--<th>删除</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="grade,list:${initdata}">
                                    <td><input type="checkbox"></td>
                                    <td th:if="false" id="table_id" th:text="${grade.gid}"></td>
                                    <td id="table_taskname" th:text="${grade.tname}"></td>
                                    <td id="table_stuname" th:text="${grade.sname}"></td>
                                    <td id="table_score" th:text="${grade.tscore}"></td>
                                    <td id="table_comment" th:text="${grade.isgreat}"></td>
                                    <td>
                                        <form action="" th:action="@{/teacher/isgreat}">
                                            <!--<input type="hidden" th:value="${paperinfo.id}"  name="id">-->
                                            <!--<input type="hidden" th:value="${paperinfo.stuname}"  name="stuname">-->
                                            <!--<input type="hidden" th:value="${paperinfo.taskname}" name="taskname">-->
                                            <!--<input type="hidden" th:value="${(paperinfo.score)?:(0)}"  name="score">-->
                                            <!--<input type="hidden" th:value="${paperinfo.comment}"  name="comment">-->
                                            <!--<input type="hidden" th:value="${paperinfo.tutorname}"  name="tutorname">-->
                                            <!--<input type="hidden" th:value="开题报告" name="type">-->
                                            <div class="am-btn-toolbar">
                                                <div class="am-btn-group am-btn-group-xs">
                                                    <button type="submit" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 修改</button>
                                                    <!--<button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 下载</button>-->
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                    <!--<td><button id="download" class='btn btn-link' data-toggle='modal'data-target='#downModal'>下载</button></td>-->
                                    <!--<td><button id="delete" class='btn btn-link' data-toggle='modal' data-target='#delModal' onclick="del(this)">删除</button></td>-->
                                </tr>
                                </tbody>
                            </table>
                            <div class="am-cf">

                                <div class="am-fr">
                                    <ul class="am-pagination tpl-pagination">
                                        <li class="am-disabled"><a href="#">«</a></li>
                                        <li class="am-active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">»</a></li>
                                    </ul>
                                </div>
                            </div>
                            <hr>

                        </form>
                    </div>

                </div>
            </div>
            <div class="tpl-alert"></div>
        </div>

    </div>
</div>
<script src="../static/assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
<script src="../static/assets/js/amazeui.min.js" th:src="@{/assets/js/amazeui.min.js}"></script>
<script src="../static/assets/js/app.js" th:src="@{/assets/js/app.js}"></script>
<script type="../static/text/javascript" th:src="@{/assets/text/javascript}"></script>

</body>
</html>
