<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link th:href="@{/css/jquery-ui.min.css}" href="../static/css/jquery-ui.min.css" rel="stylesheet">
<link th:href="@{/css/ui.jqgrid.css}" href="../static/css/ui.jqgrid.css" rel="stylesheet">
<link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet">
<link th:href="@{/css/flat-ui.css}" href="../static/css/flat-ui.css" rel="stylesheet">
<link th:href="@{/css/signin.css}" href="../static/css/signin.css" rel="stylesheet">
<script th:src="@{/js/jquery.jqGrid.min.js}" src="../js/jquery.jqGrid.min.js"></script>
<script th:src="@{/js/jquery-3.1.1.min.js}" src="../js/jquery-3.1.1.min.js"></script>
<script th:src="@{/js/i18n/grid.locale-en.js}" src="../js/i18n/grid.locale-en.js"></script>
<!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

<body>

<style>
body {
min-height: 2000px;
padding-top: 70px;
}
.pageContent{
width: auto;
height: 800px;
}
</style>

<!--顶部导航栏部分-->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">Toggle navigation</span>
</button>
<p class="navbar-brand" >教师</p>
</div>
<div class="navbar-collapse collapse">

<ul class="nav navbar-nav">
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">课题管理 <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="#">提交课题</a></li>
<li><a href="#">修改课题</a></li>
<li><a href="#">查看课题</a></li>
</ul>
</li>
</ul>


<ul class="nav navbar-nav">
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">论文评审 <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/teacher/review" th:href="@{/teacher/review}" target="#mainFrame">文献综述评阅</a></li>
<li><a href="index.html">文献翻译评阅</a></li>
<li><a href="welcome.html">开题报告评阅</a></li>
<li><a href="#">开题交叉评阅</a></li>
<li><a href="#">中期检查</a></li>
<li><a href="#">毕业论文评阅</a></li>
<li><a href="#">论文交叉评阅</a></li>
<li><a href="#">论文答辩评阅</a></li>
<li><a href="#">推优意见</a></li>
</ul>
</li>
</ul>



<ul class="nav navbar-nav navbar-right">
<li><a href="">修改密码</a></li>
<li> <form action="/logout" method="post" name="form1" th:action="@{/logout}">
<!--<input type="submit" value="logout">-->
</form>
<a href="javascript:document.form1.submit();">退出登录</a></li>
</ul>
</div><!--/.nav-collapse -->
</div>
</div>
</div>
<!--中间主体内容部分-->
<div class="pageContainer">
<!--正文内容部分 -->
<div class="pageContent">

    <p sec:authentication="name"></p>

    <div class="panel panel-default">
        <div class="panel-heading">
            <!-- 增删改查 -->
            <div class="form-inline">
                <label>课题名称：</label>
                <select id="tasknameSelection" name="TasknameSelection"class="form-control" onclick="getTasknames()">
                    <option value="all1"selected>--全部--</option>
                    <option value="毕业设计管理系统" selected>毕业设计管理系统</option>
                    <option value="教学管理日历">教学管理日历</option>
                    <option value="学校综合管理系统">学校综合管理系统</option>
                    <option value="企业管理信息系统">企业管理信息系统</option>
                    <option value="机关办公自动化系统">机关办公自动化系统</option>
                    <option value="交通管理系统">交通管理系统</option>
                </select>
                <label>评阅状态：</label>
                <select id="stateSelection" name="StateSelection"class="form-control" onclick="getStates()">
                    <option value="all2"selected>--全部--</option>
                    <option value="待评阅" selected>待评阅</option>
                    <option value="已通过">已通过</option>
                    <option value="未通过">未通过</option>
                </select>
                <label>导师姓名：</label>
                <input type="text" class="form-control" id="tutorname"/>
                <label>学生姓名：</label>
                <input type="text" class="form-control" id="stuname"/>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-inline">
                <!-- 按钮触发模态框 -->
                <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">新增</button>
                <!-- 模态框（Modal） -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">×
                                </button>
                                <h7 class="modal-title" id="myModalLabel">新增记录</h7>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/admin/addRecord}" action="/admin/addRecord"  method="post">
                                    <div class="form-group">
                                        <label for="txt_taskname">课题名称</label>
                                        <input type="text" name="txt_taskname" class="form-control" id="txt_taskname" placeholder="课题名称">
                                    </div>
                                    <div class="form-group">
                                        <label for="txt_stuname">学生姓名</label>
                                        <input type="text" name="txt_stuname" class="form-control" id="txt_stuname" placeholder="学生姓名">
                                    </div>
                                    <div class="form-group">
                                        <label for="txt_state">状态</label>
                                        <input type="text" name="txt_state" class="form-control" id="txt_state" placeholder="状态">
                                    </div>
                                    <div class="form-group">
                                        <label for="txt_tutorname">导师姓名</label>
                                        <input type="text" name="txt_tutorname" class="form-control" id="txt_tutorname" placeholder="导师姓名">
                                    </div>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                                    <button type="submit" class="btn btn-primary" >提交更改</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                <button type="button" id="find_btn" class="btn btn-primary" >查询</button>
            </div><!-- /.modal -->
            <!--<button type="button" id="del_btn" class="btn btn-primary" style="float: right" >删除</button>-->
            <!--<button type="button" id="edit_btn" class="btn btn-primary" style="float: right" >修改</button>-->
            </div>
        </div>
    <div>
        <table id="aTable">
            <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">×
                            </button>
                        </div>
                        <div class="modal-body">
                            <h7>确认删除？</h7>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary" >确认</button>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
        </table>
        <div id="aPager"></div>
    </div>
</div>
<!--<iframe src="" id="mainFrame" name="mainFrame"  width="100%"  height="100%" frameborder="0"marginheight="30px"></iframe>-->
</div>
</div>

<!--底部页脚部分 -->
<div class="footer">
<p class="text-center">
2017 &copy; 浙江工商大学
</p>
</div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $.jgrid.defaults.styleUI = "Bootstrap";
        $("#aTable").jqGrid({
            url: '/admin/data',
            datatype: "json",
            colNames: ["编号", "课题名称", "姓名", "状态","修改","操作","删除"],
            colModel: [
                {name: 'id', index: 'id', label: '编号', width: 60, hidden: true,},
                {name: 'taskname', index: 'taskname', label: '课题名称', width: 500, align: 'center'/*,formatter:'showlink', formatoptions:{baseLinkUrl:'https://www.baidu.com/', addParam: '&action=edit'}*/},
                {name: 'stuname', index: 'stuname', label: '姓名', width: 100, align: 'center'},
                {name: 'state', index: 'state', label: '状态', width: 100, align: 'center',},
                {name:'edit',index:'edit',label:'修改',width:100, align:'center'/*,formatter:'showlink', formatoptions:{baseLinkUrl:'https://www.baidu.com/', addParam: '&action=edit'}*/
                },
                {name: 'operate', index: 'operate', label: '操作', width: 100, align: 'center',},
                {name: 'del', index: 'del', label: '删除', width: 100, align: 'center',}],
            caption:'开题报告目录',
            sortname: "id", sortorder: "desc", viewrecords: true,page:1,
            rownumbers: true, autowidth: true, height: 100,rowNum:10,
            shrinkToFit: true,
            height: $('.content-pager').height()/2,
//            prmNames: {
//                page: 'currentPage',
//                rows: 'showCount',
//                sort: 'sortField',
//                order: 'order'
//            },
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                cell: "cell",
                id: "id"
            }, pager: "#aPager",
            gridComplete:function(){
                var ids = jQuery("#aTable").jqGrid('getDataIDs');
                for(i=0;i<ids.length;i++){
                    var id=ids[i];
                    edit = "<a href='#' style='#f60'>编辑</a>";
                    operate = "<a href='#' style='#f60'>下载</a>";
                    del = "<button class='btn btn-link' data-toggle='modal' data-target='#myModal'>删除</button>";
                    jQuery("#aTable").jqGrid('setRowData',ids[i],{'operate':operate,'edit':edit,'del':del});
                }
            }
        }).jqGrid('navGrid', "#aPager", {edit: false,add:false,del:false,search:false});
    });
/*查询记录*/
    $(function () {

        $('#myModal').modal({
            keyboard: true
        });
    });
        $("#find_btn").click(function () {

            var stuname = $("#stuname").val();
            var tutorname = $("#tutorname").val();
            var checkValue1 = $("#tasknameSelection").val();
            var checkValue2 = $("#stateSelection").val();

            $("#aTable").jqGrid('setGridParam', {
                url: "searchdata",
                postData: {
                    'tutorname':tutorname,
                    'stuname': stuname,
                    'checkValue1': checkValue1,
                    'checkValue2': checkValue2
                },
                page: 1
            }).trigger("reloadGrid");
        });

    $("#add_btn").click(function () {

    });
    $(function(){
        $(window).resize(function(){
            $("#aTable").setGridWidth($(window).width());
        });
    });


</script>
<script type="text/javascript">
    function delRecord()
    {

    }

</script>

</body>
</html>
<!--<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<script src="//cdn.bootcss.com/jquery/3.0.0-beta1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jqgrid/4.6.0/js/i18n/grid.locale-en.js"></script>
<script src="//cdn.bootcss.com/jqgrid/4.6.0/js/jquery.jqGrid.min.js"></script>
