<!doctype html>
<html lang= "en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">



<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>项目管理</title>
    <meta name="description" content="这是一个 index 页面"/>
    <meta name="keywords" content="index"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" th:href="@{/assets/i/favicon.png}" href="../static/assets/i/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" href="../static/assets/i/app-icon72x72@2x.png" th:href="@{/assets/i/app-icon72x72@2x.png}"/>
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="../static/assets/css/amazeui.min.css" th:href="@{/assets/css/amazeui.min.css}"/>
    <link rel="stylesheet" href="../static/assets/css/admin.css" th:href="@{/assets/css/admin.css}"/>
    <link rel="stylesheet" href="../static/assets/css/app.css" th:href="@{/assets/css/app.css}"/>
    <script src="../static/assets/js/echarts.min.js" th:src="@{/assets/js/echarts.min.js}"></script>

</head>

<body  style="">


<div th:replace="thead-top :: thead-top"></div>


    <div class="tpl-page-container tpl-page-header-fixed">
        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                <font size="4">毕设管理系统</font>
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="index.php" class="nav-link active" th:href="@{/student}">
                            <i class="am-icon-home"></i>
                            <span>首页</span>
                            <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                        </a>
                    </li>


                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-align-justify"></i>
                            <span>源代码管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" style="display: block;">
                            <li>
                                <a href="" th:href="@{/student/gitinput}">
                                    <i class="am-icon-angle-right"></i>
                                    <span>添加项目</span>
                                </a>
                                <a href="" th:href="@{/student/gitlogcheck}">
                                    <i class="am-icon-angle-right"></i>
                                    <span>已有项目</span>
                                </a>



                            </li>
                        </ul>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-align-justify"></i>
                            <span>课题选择</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" style="display: block;">
                            <li>
                                <a href="" th:href="@{/student/stu_kadaiselect}">
                                    <i class="am-icon-angle-right"></i>
                                    <span>选择课题</span>
                                </a>

                                <a href="" th:href="@{/student/stu_ownkadai}">
                                    <i class="am-icon-angle-right"></i>
                                    <span>我的课题</span>
                                </a>

                                <a href="" th:href="@{/student/mygrades}">
                                    <i class="am-icon-angle-right"></i>
                                    <span>我的成绩</span>
                                </a>
                            </li>
                        </ul>
                    </li>


                </ul>
            </div>
        </div>

    <div class="tpl-content-wrapper">
                        <div th:if="${param.fail}" style="color: red">
                            <p>*删除失败</p>
                        </div>

                        <div th:if="${param.error}" style="color: red">
                            <p>*添加项目失败</p>
                        </div>
                        <div th:if="${param.success}" style="color: red">
                            <p>*分析项目成功</p>
                        </div>
                        <div th:if="${param.no}" style="color: red">
                            <p>*分析项目失败</p>
                        </div>
                    <div class="tpl-content-page-title">
                        已有项目
                    </div>
                    <div class="tpl-portlet-components">
                        <div class="tpl-block ">

                            <table class="am-table am-table-striped ">
                                <thead>
                                <tr>
                                    <th class="table-title">项目名称</th>
                                    <th class="table-type">项目分析</th>
                                    <th class="table-type">查看结果</th>
                                    <th class="table-set">删除项目</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="files,list:${files}">
                                    <td th:text="${files}"></td>
                                    <td>
                                        <form action="/student/gitlog" method="post" class="am-form" th:action="@{/student/gitlog}">
                                            <input type="hidden" name="filename" th:value="${files}">
                                            <button type="submit" class="am-btn am-btn-success am-round">分析项目</button>
                                        </form>
                                    </td>

                                    <td>
                                        <a href="" class="am-btn am-btn-primary am-round"  target="_blank" th:href="@{'http://localhost/gitpage/'+ ${principal} + '/' + ${files} +'.html'}">查看分析结果</a>
                                    </td>
                                    <td>
                                        <form action="/student/gitdelete" method="post" class="am-form" th:action="@{/student/gitdelete}">
                                            <input type="hidden" name="filename" th:value="${files}">
                                            <button type="submit" class="am-btn am-btn-danger am-round">删除</button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    </div>

        <script src="../static/assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
        <script src="../static/assets/js/amazeui.min.js" th:src="@{/assets/js/amazeui.min.js}"></script>
        <script src="../static/assets/js/app.js" th:src="@{/assets/js/app.js}"></script>
        <script type="../static/text/javascript" th:src="@{/assets/text/javascript}">
        </script>

    </body>

</html>


