<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/flat-ui.css}" href="../static/css/flat-ui.css" rel="stylesheet">
    <link th:href="@{/css/signin.css}" href="../static/css/signin.css" rel="stylesheet">

    <title>Git</title>
</head>
<body>
<div th:include="s-head :: s-head"></div>

<br><br><br><br>
<div class="container">
    <!-- Main component for a primary marketing message or call to action -->


    <div th:if="${param.fail}" style="color: red">
        <p>*删除失败</p>
        <!--th:text="${'*' + session.SPRING_SECURITY_LAST_EXCEPTION.message}"-->
    </div>

    <div th:if="${param.error}" style="color: red">
        <p>*添加项目失败</p>
        <!--th:text="${'*' + session.SPRING_SECURITY_LAST_EXCEPTION.message}"-->
    </div>

    <div class="jumbotron"  >

        <table class="table table-bordered">
            <caption>已有项目</caption>
            <tr th:each="files,list:${files}">
                <td th:text="${files}"></td>
                <td>
                    <form action="/student/gitlog" method="post" th:action="@{/student/gitlog}">
                        <input type="hidden" name="filename" th:value="${files}">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">分析项目</button>
                    </form>
                </td>
                <td>
                    <form action="/student/gitdelete" method="post" th:action="@{/student/gitdelete}">
                    <input type="hidden" name="filename" th:value="${files}">
                    <button type="submit" class="btn btn-danger btn-lg btn-block">删除</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>


        <div class="jumbotron" th:if="${flag == 0}">
            <h4>没有项目</h4>
        </div>


</div> <!-- /container -->




<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery-3.1.1.min.js}" src="../static/js/jquery-3.1.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/flat-ui.min.js}" src="../static/js/flat-ui.min.js"></script>

<script th:src="@{/js/application.js}" src="../static/js/application.js"></script>

</body>
</html>