<!doctype html>
<html lang= "en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">



<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>首页</title>
    <meta name="description" content="这是一个 index 页面"/>
    <meta name="keywords" content="index"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" th:href="@{/assets/i/favicon.png}" href="../static/assets/i/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" href="../static/assets/i/app-icon72x72@2x.png" th:href="@{/assets/i/app-icon72x72@2x.png}"/>
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="../static/assets/css/amazeui.min.css" th:href="@{/assets/css/amazeui.min.css}"/>
    <link rel="stylesheet" href="../static/assets/css/admin.css" th:href="@{/assets/css/admin.css}"/>
    <link rel="stylesheet" href="../static/assets/css/app.css" th:href="@{/assets/css/app.css}"/>
    <script src="../static/assets/js/echarts.min.js" th:src="@{/assets/js/echarts.min.js}"></script>

</head>

<body  style="">


<div th:replace="thead-top :: thead-top"></div>


<div class="tpl-page-container tpl-page-header-fixed">

    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">
            <font size="4">毕设管理系统</font>
        </div>
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a href="index.php" class="nav-link active" th:href="@{/student}">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                        <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                    </a>
                </li>


                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-align-justify"></i>
                        <span>源代码管理</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="display: block;">
                        <li>
                            <a href="" th:href="@{/student/gitinput}">
                                <i class="am-icon-angle-right"></i>
                                <span>添加项目</span>
                            </a>
                            <a href="" th:href="@{/student/gitlogcheck}">
                                <i class="am-icon-angle-right"></i>
                                <span>已有项目</span>
                            </a>



                        </li>
                    </ul>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-align-justify"></i>
                        <span>课题选择</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="display: block;">
                        <li>
                            <a href="" th:href="@{/student/stu_kadaiselect}">
                                <i class="am-icon-angle-right"></i>
                                <span>选择课题</span>
                            </a>

                            <a href="" th:href="@{/student/stu_ownkadai}">
                                <i class="am-icon-angle-right"></i>
                                <span>我的课题</span>
                            </a>

                            <a href="" th:href="@{/student/mygrades}">
                                <i class="am-icon-angle-right"></i>
                                <span>我的成绩</span>
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>
        </div>
    </div>

    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title" id="course_name">

        </div>
        <div>
            <div>
                <ol class="am-breadcrumb">

                </ol>

                <div class="tpl-content-scope">
                    <div class="note note-info" style="text-align: center;">

                        <p><span class="label label-danger">注:</span>
                        <h3>当前非选题时间，若要选题请联系管理员</h3></p>



                    </div>
                </div>

                <div class="tpl-portlet-components">
                    <div class="row">

                        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                            <div class="dashboard-stat blue">
                                <div class="visual">
                                    <i class="am-icon-comments-o"></i>
                                </div>
                                <div class="details">
                                    <div class="number"> </div>
                                    <div class="desc"> </div>
                                </div>
                                <a class="more" href="course.php"> 查看更多
                                    <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>

                        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                            <div class="dashboard-stat red">
                                <div class="visual">
                                    <i class="am-icon-comments-o"></i>
                                </div>
                                <div class="details">
                                    <div class="number"> </div>
                                    <div class="desc">  </div>
                                </div>
                                <a class="more" href="edit_course.php"> 查看更多
                                    <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>

                        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                            <div class="dashboard-stat green">
                                <div class="visual">
                                    <i class="am-icon-comments-o"></i>
                                </div>
                                <div class="details">
                                    <div class="number"> </div>
                                    <div class="desc">  </div>
                                </div>
                                <a class="more" href="student.php"> 查看更多
                                    <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>

                        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                            <div class="dashboard-stat purple">
                                <div class="visual">
                                    <i class="am-icon-comments-o"></i>
                                </div>
                                <div class="details">
                                    <div class="number"> </div>
                                    <div class="desc">  </div>
                                </div>
                                <a class="more" href="newStu.php"> 查看更多
                                    <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                            <div class="dashboard-stat purple">
                                <div class="visual">
                                    <i class="am-icon-comments-o"></i>
                                </div>
                                <div class="details">
                                    <div class="number"> </div>
                                    <div class="desc">  </div>
                                </div>
                                <a class="more" href="pushmess.php"> 查看更多
                                    <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>

                        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                            <div class="dashboard-stat green">
                                <div class="visual">
                                    <i class="am-icon-comments-o"></i>
                                </div>
                                <div class="details">
                                    <div class="number"> </div>
                                    <div class="desc">  </div>
                                </div>
                                <a class="more" href="pushmess.php"> 查看更多
                                    <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>

                        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                            <div class="dashboard-stat red">
                                <div class="visual">
                                    <i class="am-icon-comments-o"></i>
                                </div>
                                <div class="details">
                                    <div class="number"> </div>
                                    <div class="desc">  </div>
                                </div>
                                <a class="more" href="login.php"> 查看更多
                                    <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>

                        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                            <div class="dashboard-stat blue">
                                <div class="visual">
                                    <i class="am-icon-comments-o"></i>
                                </div>
                                <div class="details">
                                    <div class="number"> </div>
                                    <div class="desc">  </div>
                                </div>
                                <a class="more" href="edit_pwd.php"> 查看更多
                                    <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../static/assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
        <script src="../static/assets/js/amazeui.min.js" th:src="@{/assets/js/amazeui.min.js}"></script>
        <script src="../static/assets/js/app.js" th:src="@{/assets/js/app.js}"></script>
        <script type="../static/text/javascript" th:src="@{/assets/text/javascript}">
        </script>
</body>

</html>
