<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8">
<head>
    <title>文献综述评阅</title>
</head>
<!--<link th:href="@{/css/jquery-ui.min.css}" href="../static/css/jquery-ui.min.css" rel="stylesheet">
<link th:href="@{/css/ui.jqgrid-bootstrap.css}" href="../static/css/ui.jqgrid-bootstrap.css" rel="stylesheet">
<link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet">
<link th:href="@{/css/flat-ui.css}" href="../static/css/flat-ui.css" rel="stylesheet">
<link th:href="@{/css/signin.css}" href="../static/css/signin.css" rel="stylesheet">
<script th:src="@{/js/jquery.jqGrid.min.js}" src="../static/js/jquery.jqGrid.min.js"></script>
<script th:src="@{/js/jquery-3.1.1.min.js}" src="../static/js/jquery-3.1.1.min.js"></script>
<script th:src="@{/js/i18n/grid.locale-en.js}" src="../static/js/i18n/grid.locale-en.js"></script>-->

<link href="//cdn.bootcss.com/jqueryui/1.12.0-rc.2/jquery-ui.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/jqgrid/4.6.0/css/ui.jqgrid.css" rel="stylesheet">
<script src="//cdn.bootcss.com/jquery/3.0.0-beta1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jqgrid/4.6.0/js/i18n/grid.locale-en.js"></script>
<script src="//cdn.bootcss.com/jqgrid/4.6.0/js/jquery.jqGrid.min.js"></script>
<link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet">
<link th:href="@{/css/flat-ui.css}" href="../static/css/flat-ui.css" rel="stylesheet">
<link th:href="@{/css/signin.css}" href="../static/css/signin.css" rel="stylesheet">

<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only"> 文献综述评阅</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">文献综述评阅</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--             <li><a href="../navbar/">用户信息</a></li>
                 -->      <li> <form action="/logout" method="post" name="form1" th:action="@{/logout}">
                <!--<input type="submit" value="logout">-->
            </form>
                <a href="javascript:document.form1.submit();">退出登录</a></li>
            </ul>
        </div>
        <p sec:authentication="name"></p>

        <div class="panel panel-default">
            <div class="panel-heading">
                <!-- 增删改查 -->
                    <div class="form-inline">
                            <label>课题名称：</label>
                            <select id="tasknameSelection" class="form-control">
                                <option value="all1"selected>--全部--</option>
                                <option value="毕业设计管理系统" selected>毕业设计管理系统</option>
                                <option value="教学管理日历">教学管理日历</option>
                                <option value="学校综合管理系统">学校综合管理系统</option>
                                <option value="企业管理信息系统">企业管理信息系统</option>
                                <option value="企业管理信息系统">机关办公自动化系统</option>
                                <option value="企业管理信息系统">交通管理系统</option>
                            </select>
                            <label>评阅状态：</label>
                            <select id="stateSelection" class="form-control">
                                <option value="all2"selected>--全部--</option>
                                <option value="待评阅" selected>待评阅</option>
                                <option value="已通过">已通过</option>
                                <option value="未通过">未通过</option>
                            </select>
                            <label>学生姓名：</label>
                            <input type="text" class="form-control" id="stuname"/>
                    </div>
            </div>
            <div class="panel-body">
                <div class="form-inline">
                    <button type="button" id="find_btn" class="btn btn-primary" style="float: right" >查询</button>
                </div>
            </div>
        </div>
            <!-- jqGridTable -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="jqTable"></table>
                    <div id="pager"></div>
                </div>
            </div>
        </div>
</div>

<br><br><br><br>


<!-- jqGridTable_Script -->
<script type="text/javascript">
    $(document).ready(function() {
        $.jgrid.defaults.styleUI = "Bootstrap";
        var name = $("#name").val();
        /*window.parent.$("#").val();*/
        $("#jqTable").jqGrid({
            url: '/teacher/data',
            /* datatype:"json", */
            datatype: "json",
            colNames: ["编号", "课题名称", "姓名", "状态","修改","操作"],
            colModel: [
                {name: 'id', index: 'id', label: '编号', width: 60, hidden: true,},
                {name: 'taskname', index: 'taskname', label: '课题名称', width: 500, align: 'center'/*,formatter:'showlink', formatoptions:{baseLinkUrl:'https://www.baidu.com/', addParam: '&action=edit'}*/},
                {name: 'stuname', index: 'stuname', label: '姓名', width: 100, align: 'center'},
                {name: 'state', index: 'state', label: '状态', width: 100, align: 'center',},
                {name:'edit',index:'edit',label:'修改',width:100, align:'center'/*,formatter:'showlink', formatoptions:{baseLinkUrl:'https://www.baidu.com/', addParam: '&action=edit'}*/
                },
                {name: 'operate', index: 'operate', label: '操作', width: 100, align: 'center',},],
            caption:'文献综述评阅查询记录',
            sortname: "id", sortorder: "desc", viewrecords: true,page:1,
            rownumbers: true, autowidth: true, height: 100,rowNum:10,
            shrinkToFit: true,
                       /*height: $('.content-pager').height(),*/
//            prmNames: {
//                page: 'currentPage',
//                rows: 'showCount',
//                sort: 'sortField',
//                order: 'order'
//            },
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                cell: "cell",
                id: "id"
            }, pager: "#pager",
            gridComplete:function(){
                var ids = jQuery("#jqTable").jqGrid('getDataIDs');
                for(i=0;i<ids.length;i++){
                    var id=ids[i];
                    edit = "<a href='#' style='#f60'/* onclick='Edit("+id+")'*/>编辑</a>";
                    operate = "<a href='#' style='#f60'/* onclick='Operate("+id+")'*/>下载</a>"
                    jQuery("#jqTable").jqGrid('setRowData',ids[i],{'operate':operate,'edit':edit});

                }
            }
        }).jqGrid('navGrid', "#pager", {edit: false,add:false,del:false,search:false});
    });

        $(function () {
            $("#find_btn").click(function () {
//           var taskname = $("#taskname").val();
//           var state = $("#state").val();
                var stuname = $("#stuname").val();
                var checkValue1 = $("#tasknameSelection").val();
                var checkValue2 = $("#stateSelection").val();

                $("#jqTable").jqGrid('setGridParam', {
                    url: "searchdata",
                    postData: {
                        /*'taskname':taskname,*/
                        'stuname': stuname/*,'state':state*/,
                        'checkValue1': checkValue1,
                        'checkValue2': checkValue2
                    },
                    page: 1
                }).trigger("reloadGrid");
            });
        });


</script>

</body>
</html>
