<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:c="http://www.w3.org/1999/XSL/Transform">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>提交课题</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link th:href="@{/assets/i/favicon.png}"  rel="icon" type="image/png" href="..static/assets/i/favicon.png">
    <link th:href="@{/assets/i/app-icon72x72@2x.png}" rel="apple-touch-icon-precomposed" href="../static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link th:href="@{/assets/css/amazeui.min.css}" rel="stylesheet" href="../static/assets/css/amazeui.min.css" />
    <link th:href="@{/assets/css/admin.css}" rel="stylesheet" href="../static/assets/css/admin.css">
    <link th:href="@{/assets/css/app.css}" rel="stylesheet" href="../static/assets/css/app.css">
    <script th:src="@{/assets/js/echarts.min.js}" src="../static/assets/js/echarts.min.js"></script>
</head>

<body  style="">


<div th:replace="thead-top :: thead-top"></div>


<div class="tpl-page-container tpl-page-header-fixed">
    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">
            <font size="4">毕设管理系统</font>
        </div>
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a href="index.php" class="nav-link active" th:href="@{/teacher}">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                        <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                    </a>
                </li>
                <!--<li class="tpl-left-nav-item">-->
                <!--<a href="course.php" class="nav-link tpl-left-nav-link-list">-->
                <!--<i class="am-icon-book"></i>-->
                <!--<span>论文审评</span>-->
                <!--</a>-->
                <!--</li>-->
                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-align-justify"></i>
                        <span>论文审评</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="display: block;">
                        <li>
                            <a href="kadai.html" th:href="@{/teacher/review}">
                                <i class="am-icon-angle-right"></i>
                                <span>文献综述评阅</span>
                            </a>

                            <a href="newKadai.html" th:href="@{/teacher/ktreview}">
                                <i class="am-icon-angle-right"></i>
                                <span>开题报告评阅</span>
                            </a>

                            <a href="newKadai.html" th:href="@{/teacher/lunwenreview}">
                                <i class="am-icon-angle-right"></i>
                                <span>毕业论文评阅</span>
                            </a>

                            <a href="newKadai.html" th:href="@{/teacher/tcross}">
                                <i class="am-icon-angle-right"></i>
                                <span>交叉评阅</span>
                            </a>

                            <a href="newKadai.html" th:href="@{/teacher/allgrades}">
                                <i class="am-icon-angle-right"></i>
                                <span>学生成绩</span>
                            </a>

                        </li>
                    </ul>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-align-justify"></i>
                        <span>课题管理</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="display: block;">
                        <li>
                            <a href="kadai.html" th:href="@{/teacher/kadai}">
                                <i class="am-icon-angle-right"></i>
                                <span>我的课题</span>
                            </a>

                            <a href="newKadai.html" th:href="@{/teacher/newKadai}">
                                <i class="am-icon-angle-right"></i>
                                <span>提交课题</span>
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>
        </div>
    </div>

        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title" id="course_name">
               <!-- <?php 
                	
                	$course = getCourseInfo();
             		foreach($course as $k=>$val){
   						echo "{$val['course_name']}"; 
					}
                    
                ?>-->
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">课题管理</a></li>
                <li class="am-active">提交课题</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="tpl-block ">
                    <div class="am-g tpl-amazeui-form">
                        <div class="am-u-sm-12 am-u-md-9">
                            <form class="am-form am-form-horizontal" id="addstu" name="addstu" method="post" th:action="@{/teacher/newKadai}" action="/teacher/newKadai" >
                                <div class="am-form-group">
                                    <label for="class-name" class="am-u-sm-3 am-form-label am-left-pos">课题编号</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" id="taskid" name="taskid" required="required" cols=60 rows=10 placeholder="课题编号" style="width: 100%">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="class-name" class="am-u-sm-3 am-form-label am-left-pos">名称</label>
                                    <div class="am-u-sm-9" >
                                        <input type="text" id="taskname" name="taskname" required="required" cols=60 rows=10 placeholder="名称" style="width: 100%">
                                    </div>
                                </div>
                                 <div class="am-form-group">
                                    <label for="class-name" class="am-u-sm-3 am-form-label am-left-pos">类别</label>
                                    <div class="am-u-sm-9" >
                                        <select id="tasktype" name="tasktype">
                                            <option value="软件设计"selected>软件设计</option>
                                            <option value="系统开发">系统开发</option>
                                            <option value="算法设计">算法设计</option>
  
										</select>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="class-name" class="am-u-sm-3 am-form-label am-left-pos">等级</label>
                                    <div class="am-u-sm-9" >
                                        <input type="text" id="taskrate" name="taskrate" required="required" cols=60 rows=10 placeholder="等级" style="width: 100%">
                                    </div>
                                </div>
                               <div class="am-form-group">
                                    <label for="class-name" class="am-u-sm-3 am-form-label am-left-pos">最大人数</label>
                                    <div class="am-u-sm-9" >
                                        <input type="text" id="taskmaxchoose" name="taskmaxchoose" required="required" cols=60 rows=10 placeholder="最大人数" style="width: 100%">
                                    </div>
                                </div>
                                
                                <div class="am-form-group">
                                    <label for="class-name" class="am-u-sm-3 am-form-label am-left-pos">描述</label>
                                    <div class="am-u-sm-9" >
                                        <input type="text" id="taskdescrib" name="taskdescrib" required="required" cols=60 rows=10 placeholder="描述" style="width: 100%">
                                    </div>
                                </div>
                                
                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <input type="submit" class="am-btn am-btn-primary" value="提交"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script th:src="@{/assets/js/jquery.min.js}" src="../static/assets/js/jquery.min.js"></script>
        <script th:src="@{/assets/js/amazeui.min.js}" src="../static/assets/js/amazeui.min.js"></script>
        <!-- <script src="assets/js/iscroll.js"></script> -->
        <script th:src="@{/assets/js/jqueryupload.js}" src="../static/assets/js/jqueryupload.js"></script>
        <script th:src="@{/assets/js/app.js}" src="../static/assets/js/app.js"></script>


</body>

</html>
