<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/flat-ui.css}" href="../static/css/flat-ui.css" rel="stylesheet">
    <!--<link th:href="@{/css/signin.css}" href="../static/css/signin.css" rel="stylesheet">-->


    <title>Admin</title>
</head>
<body>
<style>
    body {
        min-height: 2000px;
        padding-top: 70px;
        background-color: #F6F6F6;
        color: #555;
    }
</style>

<!-- Static navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <p class="navbar-brand" >管理员</p>
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">课题管理 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">课题审核</a></li>
                        <li><a href="#">课题发布</a></li>
                    </ul>
                </li>
            </ul>


            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">选题管理 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">设定选题轮数</a></li>
                        <li><a href="#">指定课题</a></li>
                    </ul>
                </li>
            </ul>


            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">论文评审 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">安排开题交叉评阅</a></li>
                        <li><a href="#">开题论证分组</a></li>
                        <li><a href="#">论文答辩分组</a></li>
                        <li><a href="#">安排论文交叉评阅</a></li>
                        <li><a href="#">确认二辩名单</a></li>
                        <li><a href="#">确认推优名单</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户管理 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/newstudent" th:href="@{/newstudent}">添加学生</a></li>
                        <li><a href="#">添加老师</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <!--             <li><a href="../navbar/">用户信息</a></li>
                 -->
                <li> <form action="/logout" method="post" name="form1" th:action="@{/logout}">
                    <!--<input type="submit" value="logout">-->
                </form>
                    <a href="javascript:document.form1.submit();">退出登录</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<br><br>
<div class="container" >
<form th:action="@{/admin/newteacher}" action="/admin/newteacher"  method="post">
    <div class="login-form">
        <div class="form-group">
            <input type="number" class="form-control login-field" name="id" placeholder="工号" id="login-id" required/>
            <label class="login-field-icon fui-user" for="login-id"></label>
        </div>

        <div class="form-group">
            <input type="text" class="form-control login-field" name="name" placeholder="姓名" id="login-name" required/>
            <label class="login-field-icon fui-user" for="login-name"></label>
        </div>

        <div class="form-group">
            <input type="password" class="form-control login-field" name="password" placeholder="密码" id="login-pass" required/>
            <label class="login-field-icon fui-lock" for="login-pass"></label>
        </div>

        <div class="form-group">
            <label class="checkbox" for="checkbox1">
                <input type="checkbox" data-toggle="checkbox" name="isAdmin" value="1" id="checkbox1" required>
                添加为管理员
            </label>
        </div>
        <div class="form-group" style="text-align: center">
        <button type="submit" class="btn btn-primary btn-lg">添加</button>
        </div>
    </div>
</form>
</div>


<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery-3.1.1.min.js}" src="../static/js/jquery-3.1.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/flat-ui.min.js}" src="../static/js/flat-ui.min.js"></script>

<script th:src="@{/js/application.js}" src="../static/js/application.js"></script>
</body>
</html>