<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/flat-ui.css}" href="../static/css/flat-ui.css" rel="stylesheet">
    <link th:href="@{/css/signin.css}" href="../static/css/signin.css" rel="stylesheet">
    <script th:src="@{/js/pdfobject.js}" src="../static/js/pdfobject.js" ></script>

    <title>Teacher</title>
</head>
<body>

<div th:include="t-head :: t-head"></div>
<div class="container" >
    <br><br>
    <p th:text="${id}" th:id="id"></p>
    <p th:text="${stuname}" th:id="stuname"></p>
    <p th:text="${taskname}" th:id="taskname"></p>
    <p th:text="${type}" th:id="type"></p>

    <div id="example1"></div>
    <br><br>
    <form action="" th:action="@{/teacher/editScore}">
        <input type="hidden" th:value="${id}"  id="id" name="id">
        <input type="hidden" th:value="${stuname}"  id="stuname" name="stuname">
        <input type="hidden" th:value="${taskname}"  id="taskname" name="taskname">
        <input type="hidden" th:value="${type}"  id="type" name="type">
        <label for="score">分数：</label>
        <input type="text" th:value="${score}"  id="score" name="score">
        <label for="comment">评语：</label>
        <input type="text" th:value="${comment}" id="comment" name="comment">
        <!--<input type="hidden" th:value="文献综述" name="type">-->
        <button type="submit" class="btn btn-primary" >编辑</button>
    </form>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var options = {
            width: "20rem",
            height: "20rem"
        };
        var path = [[${path}]];
//        PDFObject.embed(path, "#example1",options);
        PDFObject.embed(path, "#example1",options)
        /*]]*/
    </script>
</div>

<!--<script src="../static/js/pdfobject.js" th:src="@{/js/showpdf.js}"></script>-->

<script th:src="@{/js/jquery-3.1.1.min.js}" src="../static/js/jquery-3.1.1.min.js"></script>


<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/flat-ui.min.js}" src="../static/js/flat-ui.min.js"></script>

<script th:src="@{/js/application.js}" src="../static/js/application.js"></script>

</body>
</html>