<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>课程管理</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" th:href="@{/assets/i/favicon.png}" href="../static/assets/i/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" href="../static/assets/i/app-icon72x72@2x.png" th:href="@{/assets/i/app-icon72x72@2x.png}"/>
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="../static/assets/css/amazeui.min.css" th:href="@{/assets/css/amazeui.min.css}"/>
    <link rel="stylesheet" href="../static/assets/css/admin.css" th:href="@{/assets/css/admin.css}"/>
    <link rel="stylesheet" href="../static/assets/css/app.css" th:href="@{/assets/css/app.css}"/>
    <script src="../static/assets/js/echarts.min.js" th:src="@{/assets/js/echarts.min.js}"></script>

    <style>
        .box{
            position:fixed;
            right:10px;
            bottom: 20px;
            height:50px;
            width: 50px;
            text-align:center;
            padding-top:20px;
            background-color: lightblue;
            /*	transform: rotate(45deg);*/
            border-radius: 50%;
            overflow: hidden;

        }
        .box:hover:before{
            top:50%
        }
        .box:hover .box-in{
            visibility: hidden;
        }
        .box:before{
            position: absolute;
            top: -50%;
            left: 50%;
            transform: translate(-50%,-50%);
            content:'';
            width: 40px;
            color:peru;
            font-weight:bold;
        }
        .box-in{
            visibility: visible;
            display:inline-block;
            height:20px;
            width: 20px;
            border: 3px solid black;
            border-color: white transparent transparent white;
            transform:rotate(45deg);
        }
    </style>
</head>

<body data-type="index" style="">
<div th:replace="thead-top :: thead-top"></div>

<div class="tpl-page-container tpl-page-header-fixed">

    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">
            <font size="4">毕设管理系统</font>
        </div>
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a href="index.php" class="nav-link active" th:href="@{/teacher}">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                        <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                    </a>
                </li>
                <!--<li class="tpl-left-nav-item">-->
                <!--<a href="course.php" class="nav-link tpl-left-nav-link-list">-->
                <!--<i class="am-icon-book"></i>-->
                <!--<span>论文审评</span>-->
                <!--</a>-->
                <!--</li>-->
                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-align-justify"></i>
                        <span>论文审评</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="display: block;">
                        <li>
                            <a href="kadai.html" th:href="@{/teacher/review}">
                                <i class="am-icon-angle-right"></i>
                                <span>文献综述评阅</span>
                            </a>

                            <a href="newKadai.html" th:href="@{/teacher/ktreview}">
                                <i class="am-icon-angle-right"></i>
                                <span>开题报告评阅</span>
                            </a>

                            <a href="newKadai.html" th:href="@{/teacher/lunwenreview}">
                                <i class="am-icon-angle-right"></i>
                                <span>毕业论文评阅</span>
                            </a>

                            <a href="newKadai.html" th:href="@{/teacher/tcross}">
                                <i class="am-icon-angle-right"></i>
                                <span>交叉评阅</span>
                            </a>

                            <a href="newKadai.html" th:href="@{/teacher/allgrades}">
                                <i class="am-icon-angle-right"></i>
                                <span>学生成绩</span>
                            </a>

                        </li>
                    </ul>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-align-justify"></i>
                        <span>课题管理</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="display: block;">
                        <li>
                            <a href="kadai.html" th:href="@{/teacher/t_TaskShow}">
                                <i class="am-icon-angle-right"></i>
                                <span>我的课题</span>
                            </a>

                            <a href="newKadai.html" th:href="@{/teacher/t_AddTask}">
                                <i class="am-icon-angle-right"></i>
                                <span>提交课题</span>
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>
        </div>
    </div>

    <div class="tpl-content-wrapper">
        <div id="box" class="box">
            <div class="box-in"></div>
        </div>
        <div class="tpl-content-page-title" id="course_name">
            [[${type}]]
        </div>

        <ol class="am-breadcrumb">
            <li><a href="#" th:href="@{/teacher}" class="am-icon-home">首页</a></li>
            <li th:if="${type} eq '文献综述'"><a href="#" th:href="@{/teacher/review}">返回列表</a></li>
            <li th:if="${type} eq '开题报告'"><a href="#" th:href="@{/teacher/ktreview}">返回列表</a></li>
            <li th:if="${type} eq '论文'"><a href="#" th:href="@{/teacher/lunwenreview}">返回列表</a></li>

            <!--动态获取-->
            <li class="am-active">[[${type}]]</li>
            <li class="am-active">
                [[${stuname}]]
            </li>
        </ol>
        <div class="tpl-content-scope">
            <div class="tpl-portlet-components" style="height: 240px;background: #fff;height: auto;">
                <!-- <div>
                        <a href="course.php">
                        <img style="width: 27%;height: 43%;float: left; " src="assets/img/timg.jpg">
                    </a>
                    </div> -->
                <!--   <div style="float: left; width: 60%; margin-left: 10px" class="user_message"> -->
                <div>
                    <h3><span class="close" data-close="note">[[${taskname}]]</span></h3>
                    <span id="introduction">
                            <p> 摘要：对近年来我国企业管理人员的培训现状的研究文献进行研究综述，归纳、总结了现代企业管理人员培训特征、系统现状等，同时提出了对管理人员这一特殊群体进行有效培训的策略。</p>
							<p>关键词：企业;管理人员;培训;现状及对策</p>
							<p>企业作为企业规划决策的重要组成部分，必须进行有效的企业培训。与企业其他部门一样，有完善的培训体系。从人力资源管理的完整性出发，建立完善的培训体系，开展培训活动，是提高培训效率的关键。通过分析发现，企业管理人员培训子系统存在以下特点或规律。</p>
							<p>1培训目的
							<p>管理人员培训的主要目的是让管理者拥有更加新鲜的管理方式和建立更加完善的管理体制。用自己吸收的学术、技巧，为企业更好的提升自身竞争能力。企业吸收了先进的专业知识、注入了新鲜血液，这将对企业在商场中的地位起着至关重要的作用。除了专业管理人员外，企业中还有一部分未受过正规教育的人员，对这类人员的管理培训更要重视。培养好管理人员，对企业的发展是很有帮助的。除此之外，管理人员拥有健康的心态也能为企业树立良好的形象，管理人员领导下层工作人员积极健康向上的发展，更能使企业树立完美形象。有助于领导、管理。管理者的积极态度会直接影响下属的积极性，管理者的培训能激励员工士气。随着社会的逐日进步，管理阶层也不能够拘泥于原来掌握的知识，也要进行学习，将自己的知识丰富起来，这样才能为员工做榜样。</p>
							<p>2培训方法、内容</p>
							<p>学习要因人而异，培训更要因人而异，根据每个人的异同，分配不同的培训方法。用案例教学法举个例子，此种培训方法是在培训过程中使用真实案例，根据真实案例来进行实践，以案例中的内容进行理论的讲解，使培训人员更加懂得其中内涵。这样的理论与实践相结合，弥补了我国传统的灌入式教学的缺陷，有利于培训人员学习兴趣的培养。培训的内容包括对国家法律法规的了解及对企业发展方面的了解。了解国家的法律法规，使得管理人员清楚法律的规定不触犯法律。对企业发展的了解有助于管理人员根据企业的发展过程制定合理的管理机制，促进企业健康向上的发展。其次，还要培训管理人员对市场的了解，只有对市场有充分的了解，才可以以市场为依据，制定出合理有效的方法管理企业。培训的内容还应包括对企业内部软件的熟练使用，有助于管理人员采用互联网的方式管理企业，把企业管理规范化、合理化。互联网技术还可以使得管理人员更加快速的了解市场，了解社会发展的规律。还需培养管理人员的领导技能，才可以使下级服从领导，提高效率。对管理人员的人际关系技能的培训也是很重要的，处理好人际关系，为下级办公人员树立良好的榜样，使企业内部有积极向上的工作作风，促进企业健康稳步发展。管理人员的思想道德方面的培训也需要重视，管理人员要树立正确的思想、文化、道德，用自身的魅力去征服下级，成为下级的榜样。社会日趋进步，科学技术也逐渐成熟，以互联网的方式管理更加普遍，因此对信息技术的培养应引起重视。</p>
							<p>3培训体制</p>
							<p>企业管理人员的培训效果受到培训体制的很大制约，因此我们应对培训机制的重要性引起重视，研究发现，企业管理人员的培训体制主要有三方面的问题:（1）培训机构被过于领导，责任不明确。（2）培训办学的管理体制较死板保守。（3）培训结果过于独立，没有与企业的考核标准相衔接。建立与时代发展相适应的新型企业管理培训体制是解决培训体制问题的根本方法，这样既可以提高企业管理质量，又可以与时代共同发展，与社会共同发展。企业应成立专门的培训部门，实行统一管理，分阶段进行，第一阶段初步培训，第二阶段深入培训，第三阶段总结，这样既提高了培训效率，也提升了培训质量。培训结果应与企业考核标准衔接，对于培训成绩好的人员应给予奖励，如，适量加工资、适当的放假、发福利，对于培训成绩不好的人员，应有适当的惩罚机制，促使他们更有主动性去培训，发奋努力学习，争取将培训成绩提高。重视企业自主培训，促进培训产业化，改善培训所需要的各种因素及所给予的激励方法。人各有不同，所以企业培训也要用不同的方法，选择每个人适合的培训模式。当然，完善和完善培训机制也是非常重要的。培训产业化更为重要。没有培训产业化，没有牢固的基础。建设高素质的企业管理者只是空中楼阁。重视企业有自己的培训地点，有自己的培训团队，促进培训产业化，完善培训制约因素和激励机制。与此同时，改进和完善培训机制也很重要。培训产业化更为重要，没有工业化培训，没有坚实的基础，建设一个高素质的企业经理只是空中楼阁。</p>
							<p>4结语</p>
							<p>我国的企业家应该认识到企业管理人员培训的重要性，深入完善的管理体系，用此种方法使企业的经营更加稳定，使得企业建立积极的企业文化。随着社会的发展，科学技术的发展，以科学的方式管理企业将会成为主流，培养管理人员的科学技术使用方法应引起企业的重视，在熟练运用科学方式管理企业的方面，刻不容缓，紧随时代发展的脚步，使企业向更好的方向大步迈进。</p>
                        </span>
                </div>
            </div>
        </div>
        <div class="tpl-portlet-components">
            <div class="tpl-block ">
                <div class="am-g tpl-amazeui-form">
                    <div class="am-u-sm-12 am-u-md-9">
                        <form class="am-form am-form-horizontal" name="editlesson" method="post" th:action="@{/teacher/editScore}" enctype="multipart/form-data">

                            <input type="hidden" th:value="${id}"  id="id" name="id">
                            <input type="hidden" th:value="${stuname}"  id="stuname" name="stuname">
                            <input type="hidden" th:value="${taskname}"  id="taskname" name="taskname">
                            <input type="hidden" th:value="${type}"  id="type" name="type">

                            <div class="am-form-group">
                                <label for="score" class="am-u-sm-3 am-form-label am-left-pos">评分</label>
                                <div class="am-u-sm-9" id="picAddresss">
                                    <input type="text" th:value="${score}"  id="score" name="score" required="required" cols=60 rows=10 placeholder="" style="width: 160%" value="">
                                    <div th:if="${param.error}" style="color: red">
                                        <p>请输入0-100的整数</p>
                                    </div>
                                </div>

                            </div>

                            <div class="am-form-group">
                                <label for="comment" class="am-u-sm-3 am-form-label am-left-pos">评语</label>
                                <div class="am-u-sm-9">
                                    <textarea th:value="${comment}" id="comment" name="comment" required="required" cols=60 rows=10 placeholder="" style="width: 160%">[[${comment}]]</textarea>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button type="submit" class="am-btn am-btn-primary" >保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="../static/assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
<script src="../static/assets/js/amazeui.min.js" th:src="@{/assets/js/amazeui.min.js}"></script>
<script src="../static/assets/js/app.js" th:src="@{/assets/js/app.js}"></script>
<script type="../static/text/javascript" th:src="@{/assets/text/javascript}"></script>
<script type="text/javascript">
    var btn = document.getElementById('btn');
    var obj = document.getElementById('myarticle');
    var total_height = obj.scrollHeight; //文章总高度
    var show_height = 200; //定义原始显示高度

    if (total_height > show_height) {
        btn.style.display = 'block';
        btn.onclick = function() {
            if (btn.innerText == "展开") {
                obj.style.height = total_height + 'px';
                btn.innerText = "收起";
            } else if (btn.innerText == "收起") {
                obj.style.height = show_height + 'px';
                btn.innerText = "展开";
            }
        }

    }

</script>
<script>
    var timer = null;
    box.onclick = function(){
        cancelAnimationFrame(timer);
        timer = requestAnimationFrame(function fn(){
            var oTop = document.body.scrollTop || document.documentElement.scrollTop;
            if(oTop > 0){
                document.body.scrollTop = document.documentElement.scrollTop = oTop - 50;
                timer = requestAnimationFrame(fn);
            }else{
                cancelAnimationFrame(timer);
            }
        });
    }
</script>
<script type="text/javascript">
    window.onscroll=function(){
        var top=window.pageYOffset||document.documentElement.scrollTop||document.body.scrollTop;
        var node=document.getElementById('topbar');
        if(top>20){//20就是滚动条滚动到的位置，大于20才显示
            node.style.display='';
        }else{
            node.style.display='none';
        }
    }
</script>
</body>

</html>

