<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet">
<link th:href="@{/css/flat-ui.css}" href="../static/css/flat-ui.css" rel="stylesheet">
<link th:href="@{/css/signin.css}" href="../static/css/signin.css" rel="stylesheet">

<style type="text/css">
    .lightbox{
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        z-index: 7;
        opacity: 0.3;
        display: block;
        background-color: rgb(0, 0, 0);
        display: none;
    }
    .pop,iframe{
        position: absolute;
        left: 50%;
        top:0;
        width: 893px;
        height: 100%;
        margin-left: -446.5px;
        z-index: 9;
    }
</style>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only"> 文献综述评阅</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">文献综述评阅</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--             <li><a href="../navbar/">用户信息</a></li>
                 -->      <li> <form action="/logout" method="post" name="form1" th:action="@{/logout}">
                <!--<input type="submit" value="logout">-->
            </form>
                <a href="javascript:document.form1.submit();">退出登录</a></li>
            </ul>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-inline">
                    <div class="form-group-sm">
                        <label>课题名称：</label>
                        <label>从编辑参数获取</label>
                    </div>
                    <div class="form-group-lg">
                        <label>学生姓名：</label>
                        <label>从编辑参数获取</label>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div>
                    <div class="lightbox" id="lightbox"></div>
                    <div id="pop" class="pop" ><!--style="display: none;"-->
                        <a href="javascript:close()"
                           style="
                                position: absolute;
                                right: -90px;
                                display: inline-block;
                                width: 80px;
                                height: 30px;
                            " id="close">关闭</a>
                        <iframe src="" frameborder="1" id="pdfContainer" name="pdfContainer"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    function showPdf(isShow) {
        var state = "";
        if (isShow) {
            state = "block";
        } else {
            state = "none";
        }
        var pop = document.getElementById("pop");
        pop.style.display = state;
        var lightbox = document.getElementById("lightbox");
        lightbox.style.display = state;
    }
    function close() {
        showPdf(false);
    }
</script>
</html>