<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>


<!-- Static navbar -->
<header th:fragment="t-head">
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <p class="navbar-brand" >教师</p>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">课题管理 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">提交课题</a></li>
                            <li><a href="#">修改课题</a></li>
                            <li><a href="#">查看课题</a></li>
                        </ul>
                    </li>
                </ul>


                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">论文评审 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/teacher/review" th:href="@{/teacher/review}">文献综述评阅</a></li>
                            <li><a href="#">文献翻译评阅</a></li>
                            <li><a href="#">开题报告评阅</a></li>
                            <li><a href="#">开题交叉评阅</a></li>
                            <li><a href="#">中期检查</a></li>
                            <li><a href="#">毕业论文评阅</a></li>
                            <li><a href="#">论文交叉评阅</a></li>
                            <li><a href="#">论文答辩评阅</a></li>
                            <li><a href="#">推优意见</a></li>
                        </ul>
                    </li>
                </ul>



                <ul class="nav navbar-nav navbar-right">
                    <li><a href="">修改密码</a></li>
                    <li> <form action="/logout" method="post" name="form1" th:action="@{/logout}">
                        <!--<input type="submit" value="logout">-->
                    </form>
                        <a href="javascript:document.form1.submit();">退出登录</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <br><br>
</header>
</body>
</html>