<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/css/ace.min.css"/>
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/css/ace-ie.min.css"/>
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/css/ace-ie.min.css"/>
    <meta charset="UTF-8">
    <title>AddTask</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/flat-ui.css}" href="../static/css/flat-ui.css" rel="stylesheet">
    <link th:href="@{/css/signin.css}" href="../static/css/signin.css" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/flat-ui.css}" href="../static/css/flat-ui.css" rel="stylesheet">
    <title>AddTask</title>
</head>

<body>

<style>
    body {
        min-height: 2000px;
        padding-top: 70px;
    }
</style>

<div th:include="t-head :: t-head"></div>


<!--<p sec:authentication="name"></p>-->

<br>
<div>
    <table id="jqTable"></table>
    <div id="pager"></div>
</div>

<div class="container" >
    <form  th:action="@{/teacher/addtask}" action="/teacher/addtask"  method="post">
    <h6 class="form-signin-heading">提交课题</h6>

        <div class="login-form">
            <div class="form-group">
                <input type="课题编号" class="form-control login-field" name="taskid"  placeholder="课题编号" id="taskid" required/>
                <label class="login-field-icon" for="taskid"></label>
            </div>

            <div class="form-group">
                <input type="text" class="form-control login-field" name="taskname" placeholder="课题名称" id="taskname" required/>
                <label class="login-field-icon " for="taskname"></label>
            </div>


            <div class="form-group">
                <select id="tasktype" name="tasktype"class="form-control" >
                    <option value="软件设计"selected>软件设计</option>
                    <option value="系统开发">系统开发</option>
                    <option value="算法设计">算法设计</option>
                </select>
            </div>


            <!--<div class="form-group">-->
                <!--<input type="text" class="form-control login-field" name="tasktype" placeholder="课题类型" id="tasktype" required/>-->
                <!--<label class="login-field-icon " for="tasktype"></label>-->
            <!--</div>-->

            <div class="form-group">
                <input type="text" class="form-control login-field" name="taskrate" placeholder="课题等级" id="taskrate" required/>
                <label class="login-field-icon " for="taskrate"></label>
            </div>

            <!--<div class="form-group">-->
                <!--<input type="text" class="form-control login-field" name="tutorname" placeholder="提交人" id="tutorname" required/>-->
                <!--<label class="login-field-icon " for="tutorname"></label>-->
            <!--</div>-->

            <div class="form-group">
                <input type="text" class="form-control login-field" name="taskmaxchoose" placeholder="最大选择人数" id="taskmaxchoose" required/>
                <label class="login-field-icon " for="taskmaxchoose"></label>
            </div>

            <div class="form-group">
                <input type="text" class="form-control login-field" name="taskdescrib" placeholder="课题描述" id="taskdescrib" required/>
                <label class="login-field-icon " for="taskdescrib"></label>
            </div>

            <div class="form-group" style="text-align: center">
                <button type="submit" class="btn btn-primary btn-lg">提交</button>
          </div>
        </div>
    </form>
</div>





<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery-3.1.1.min.js}" src="../static/js/jquery-3.1.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/flat-ui.min.js}" src="../static/js/flat-ui.min.js"></script>

<script th:src="@{/js/application.js}" src="../static/js/application.js"></script>

</body>
</html>