<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.Mapper.PaperInfoMapper">

    <resultMap id="paperInfoMap" type="com.code.Entity.PaperInfo">
        <id property="id" column="id"/>
        <result property="taskname" column="taskname"/>
        <result property="stuname" column="stuname"/>
        <result property="state" column="state"/>
        <result property="tutorname" column="tutorname"/>
        <result property="tutorid" column="tutorid"/>
        <result property="type" column="type"/>
        <result property="crosstutor" column="crosstutor"/>
        <result property="ktgroup" column="ktgroup"/>
        <result property="lwgroup" column="lwgroup"/>
        <result property="score" column="score"/>
        <result property="comment" column="comment"/>
        <result property="crossscore" column="crossscore"/>
        <result property="crosscomment" column="crosscomment"/>

        <!--<collection column="id" property="roles"  ofType="com.code.Entity.Role" javaType="java.util.ArrayList">-->
            <!--<result column="rolename" property="rolename"/>-->
        <!--</collection>-->
    </resultMap>

    <select id="findByTaskname" parameterType="String" resultMap="paperInfoMap">
         select p.*  from paperinfo p
        where taskname= #{taskname}
    </select>

    <select id="findByCrosstutor" parameterType="String" resultMap="paperInfoMap">
        select p.*  from paperinfo p
        where crosstutor= #{crosstutor}
    </select>

    <select id="findByCrosstutorState" parameterType="String" resultMap="paperInfoMap">
        select p.*  from paperinfo p
        where crosstutor= #{crosstutor} and state= #{state}
    </select>

    <select id="findById" parameterType="Integer" resultMap="paperInfoMap">
        select p.*  from paperinfo p
        where id= #{id}
    </select>

    <select id="findByTutorname" parameterType="String" resultMap="paperInfoMap">
        select p.*  from paperinfo p
        where tutorname= #{tutorname}
    </select>

    <select id="findByStuname" parameterType="String" resultMap="paperInfoMap">
       select p.*  from paperinfo p
        where stuname= #{stuname}
    </select>

    <select id="findByState" parameterType="String" resultMap="paperInfoMap">
        select p.*  from paperinfo p
        where state= #{state}
    </select>

    <select id="findByStunameAndType" parameterType="String" resultMap="paperInfoMap">
        select p.*  from paperinfo p
        where stuname= #{stuname} and type = #{type}
    </select>

    <select id="getAll" parameterType="String" resultMap="paperInfoMap">
        select p.*  from paperinfo p
    </select>

    <select id="getAllkt"  resultMap="paperInfoMap">
        select p.*  from paperinfo p WHERE type = "开题报告"
    </select>


    <select id="getAlllunwen"  resultMap="paperInfoMap">
        select p.*  from paperinfo p WHERE type = "论文"
    </select>

    <select id="getAllwx"  resultMap="paperInfoMap">
        select p.*  from paperinfo p WHERE type = "文献综述"
    </select>

    <select id="findByTaskAndState" parameterType="String" resultMap="paperInfoMap">
        select p.*  from paperinfo p
        where state= #{state} and taskname= #{taskname}
    </select>

    <select id="findByTutoridStateType" resultMap="paperInfoMap">
        select p.*  from paperinfo p
        where tutorid = #{tutorid,jdbcType=INTEGER} and state= #{state,jdbcType=VARCHAR} and type = #{type,jdbcType=VARCHAR}
    </select>

    <select id="findByTutoridAndType" resultMap="paperInfoMap">
        select p.*  from paperinfo p
        where tutorid = #{tutorid,jdbcType=INTEGER} and type = #{type,jdbcType=VARCHAR}
    </select>

    <select id="findByTasknameAndType" parameterType="String" resultMap="paperInfoMap">
        select p.*  from paperinfo p
        where taskname= #{taskname} and type= #{type}
    </select>

    <select id="findByStateAndType" parameterType="String" resultMap="paperInfoMap">
        select p.*  from paperinfo p
        where state= #{state} and type= #{type}
    </select>

    <select id="findScoreById" parameterType="Integer" resultMap="paperInfoMap">
        select p.*  from paperinfo p
        where id= #{id}
    </select>

    <select id="findCommentById" parameterType="Integer" resultMap="paperInfoMap">
        select p.*  from paperinfo p
        where id= #{id}
    </select>

    <insert id="addRecord" parameterType="com.code.Entity.PaperInfo" >
        INSERT INTO
        paperinfo
        (id,taskname,stuname,state,tutorname,tutorid,type)
        VALUES
        (#{id}, #{taskname}, #{stuname},#{state},#{tutorname},#{tutorid},#{type})
    </insert>

    <select id="findByMaxId" parameterType="String" resultMap="paperInfoMap">
        select p.* from paperinfo p
        where id = (select max(id) from paperinfo)
    </select>

    <delete id="delRecord" parameterType="String">
        delete p.* from paperinfo p
        where stuname=#{stuname}
    </delete>

    <update id="editRecord">
        UPDATE
        paperinfo
        SET
        state = #{state,jdbcType=VARCHAR},
        tutorname = #{tutorname,jdbcType=VARCHAR},
        tutorid = #{tutorid,jdbcType=INTEGER}
        WHERE
        stuname = #{stuname,jdbcType=VARCHAR} and type=#{type,jdbcType=VARCHAR}
    </update>

    <update id="editCrosstutor">
        UPDATE
        paperinfo
        SET
        crosstutor = #{crosstutor,jdbcType=VARCHAR}
        WHERE
        id= #{id,jdbcType=INTEGER}
    </update>

    <update id="editKtgroup">
        UPDATE
        paperinfo
        SET
        ktgroup = #{ktgroup,jdbcType=VARCHAR}
        WHERE
        id= #{id,jdbcType=INTEGER}
    </update>

    <update id="editScoreAndComment">
        UPDATE
        paperinfo
        SET
        score = #{score,jdbcType=INTEGER},
        comment = #{comment,jdbcType=VARCHAR}
        WHERE
        id= #{id,jdbcType=INTEGER}
    </update>

    <update id="editState">
        UPDATE
        paperinfo
        SET
        state = #{state,jdbcType=INTEGER}
        WHERE
        id= #{id,jdbcType=INTEGER}
    </update>
    <select id="findScores" parameterType="Integer" resultType="Integer">
        select NULLIF(SUM(p.score)*1/3,0)  from paperinfo p
        where p.stuid= #{stuid}
    </select>

</mapper>